<!DOCTYPE html>
<html>
	<head>
		<link rel = "stylesheet" type = "text/css" href = "style.css">
	</head>


<body>

<div class = "left-board">

	A<br />
	B<br />
	C<br />
	D<br />
	E<br />
	F<br />
	G<br />
	H<br />
</div>


<div class = "board">
	<!-- Row A (Row 1 in game.rb) -->

<img src = "<%= g.img_tag(a1) %>.png" >
<img src = "<%= g.img_tag(a2) %>.png" >
<img src = "<%= g.img_tag(a3) %>.png" >
<img src = "<%= g.img_tag(a4) %>.png" >
<img src = "<%= g.img_tag(a5) %>.png" >
<img src = "<%= g.img_tag(a6) %>.png" >
<img src = "<%= g.img_tag(a7) %>.png" >
<img src = "<%= g.img_tag(a8) %>.png" >

<br />
	<!-- Row B (Row 2 in game.rb) -->

<img src = "<%= g.img_tag(b1) %>.png" >
<img src = "<%= g.img_tag(b2) %>.png" >
<img src = "<%= g.img_tag(b3) %>.png" >
<img src = "<%= g.img_tag(b4) %>.png" >
<img src = "<%= g.img_tag(b5) %>.png" >
<img src = "<%= g.img_tag(b6) %>.png" >
<img src = "<%= g.img_tag(b7) %>.png" >
<img src = "<%= g.img_tag(b8) %>.png" >

<br />

	<!-- Row C (Row 3 in game.rb) -->

<img src = "<%= g.img_tag(c1) %>.png" >
<img src = "<%= g.img_tag(c2) %>.png" >
<img src = "<%= g.img_tag(c3) %>.png" >
<img src = "<%= g.img_tag(c4) %>.png" >
<img src = "<%= g.img_tag(c5) %>.png" >
<img src = "<%= g.img_tag(c6) %>.png" >
<img src = "<%= g.img_tag(c7) %>.png" >
<img src = "<%= g.img_tag(c8) %>.png" >

<br />

	<!-- Row D (Row 4 in game.rb) -->

<img src = "<%= g.img_tag(d1) %>.png" >
<img src = "<%= g.img_tag(d2) %>.png" >
<img src = "<%= g.img_tag(d3) %>.png" >
<img src = "<%= g.img_tag(d4) %>.png" >
<img src = "<%= g.img_tag(d5) %>.png" >
<img src = "<%= g.img_tag(d6) %>.png" >
<img src = "<%= g.img_tag(d7) %>.png" >
<img src = "<%= g.img_tag(d8) %>.png" >

<br />

	<!-- Row E (Row 5 in game.rb) -->

<img src = "<%= g.img_tag(e1) %>.png" >
<img src = "<%= g.img_tag(e2) %>.png" >
<img src = "<%= g.img_tag(e3) %>.png" >
<img src = "<%= g.img_tag(e4) %>.png" >
<img src = "<%= g.img_tag(e5) %>.png" >
<img src = "<%= g.img_tag(e6) %>.png" >
<img src = "<%= g.img_tag(e7) %>.png" >
<img src = "<%= g.img_tag(e8) %>.png" >

<br />

	<!-- Row F (Row 6 in game.rb) -->

<img src = "<%= g.img_tag(f1) %>.png" >
<img src = "<%= g.img_tag(f2) %>.png" >
<img src = "<%= g.img_tag(f3) %>.png" >
<img src = "<%= g.img_tag(f4) %>.png" >
<img src = "<%= g.img_tag(f5) %>.png" >
<img src = "<%= g.img_tag(f6) %>.png" >
<img src = "<%= g.img_tag(f7) %>.png" >
<img src = "<%= g.img_tag(f8) %>.png" >

<br />

	<!-- Row G (Row 7 in game.rb) -->

<img src = "<%= g.img_tag(g1) %>.png" >
<img src = "<%= g.img_tag(g2) %>.png" >
<img src = "<%= g.img_tag(g3) %>.png" >
<img src = "<%= g.img_tag(g4) %>.png" >
<img src = "<%= g.img_tag(g5) %>.png" >
<img src = "<%= g.img_tag(g6) %>.png" >
<img src = "<%= g.img_tag(g7) %>.png" >
<img src = "<%= g.img_tag(g8) %>.png" >

<br />

	<!-- Row H (Row 8 in game.rb) -->

<img src = "<%= g.img_tag(h1) %>.png" >
<img src = "<%= g.img_tag(h2) %>.png" >
<img src = "<%= g.img_tag(h3) %>.png" >
<img src = "<%= g.img_tag(h4) %>.png" >
<img src = "<%= g.img_tag(h5) %>.png" >
<img src = "<%= g.img_tag(h6) %>.png" >
<img src = "<%= g.img_tag(h7) %>.png" >
<img src = "<%= g.img_tag(h8) %>.png" >

<br />

</div>

<div class = "bottom-board">
	1&nbsp;&nbsp;&nbsp;
	2&nbsp;&nbsp;&nbsp;
	3&nbsp;&nbsp;&nbsp;
	4&nbsp;&nbsp;&nbsp;
	5&nbsp;&nbsp;&nbsp;
	6&nbsp;&nbsp;&nbsp;
	7&nbsp;&nbsp;&nbsp;
	8&nbsp;&nbsp;&nbsp;

</div>

<div class = "form">
	<form>
		<input type='text' name='Row' autofocus/>
		<input type='text' name='Column' autofocus/>
		<input type='submit' value='Value'/>
	</form>
</div>

</body>

</html>