<!DOCTYPE html>
<html>
	<head>
		<link rel = "stylesheet" type = "text/css" href = "style.css">
	</head>


<body>

<div class = "left-board">

	A<br />
	B<br />
	C<br />
	D<br />
	E<br />
	F<br />
	G<br />
	H<br />
</div>


<div class = "board">
	<!-- Row A (Row 1 in game.rb) -->
<% session['b'].board[1][0].each_with_index do |piece, index| %>
<a href = <%= "/move?End_Row=1&End_Column=#{index}" %> > 
<img src = "<%= g.img_tag(piece) %>.png" class = "<%= index % 2 == 0 ? "White" : "Black" %> "
id = "<%= selector(selected_piece, piece) %>" > 
</a>
<% end %>
<br />

	<!-- Row B (Row 2 in game.rb) -->
<% session['b'].board[2][0].each_with_index do |piece, index| %>
<a href = "<%= "/move?End_Row=2&End_Column=#{index}" %>" >
<img src = "<%= g.img_tag(piece) %>.png" class = "<%= index % 2 == 0 ? "Black" : "White" %> "
id = "<%= selector(selected_piece, piece) %>" >
</a>
<% end %>
<br />

	<!-- Row C (Row 2 in game.rb) -->
<% session['b'].board[3][0].each_with_index do |piece, index| %>
<a href = <%= "/move?End_Row=3&End_Column=#{index}" %> >
<img src = "<%= g.img_tag(piece) %>.png" class = "<%= index % 2 == 0 ? "White" : "Black" %> "
id = "<%= selector(selected_piece, piece) %>" >
</a>
<% end %>
<br />

	<!-- Row D (Row 2 in game.rb) -->
<% session['b'].board[4][0].each_with_index do |piece, index| %>
<a href = <%= "/move?End_Row=4&End_Column=#{index}" %> >
<img src = "<%= g.img_tag(piece) %>.png" class = "<%= index % 2 == 0 ? "Black" : "White" %> "
id = "<%= selector(selected_piece, piece) %>" >
</a>
<% end %>
<br />

	<!-- Row E (Row 2 in game.rb) -->
<% session['b'].board[5][0].each_with_index do |piece, index| %>
<a href = <%= "/move?End_Row=5&End_Column=#{index}" %> >
<img src = "<%= g.img_tag(piece) %>.png" class = "<%= index % 2 == 0 ? "White" : "Black" %> "
id = "<%= selector(selected_piece, piece) %>" >
</a>
<% end %>
<br />

	<!-- Row F (Row 2 in game.rb) -->
<% session['b'].board[6][0].each_with_index do |piece, index| %>
<a href = <%= "/move?End_Row=6&End_Column=#{index}" %> >
<img src = "<%= g.img_tag(piece) %>.png" class = "<%= index % 2 == 0 ? "Black" : "White" %> "
id = "<%= selector(selected_piece, piece) %>" >
</a>
<% end %>
<br />

	<!-- Row G (Row 2 in game.rb) -->
<% session['b'].board[7][0].each_with_index do |piece, index| %>
<a href = <%= "/move?End_Row=7&End_Column=#{index}" %> >
<img src = "<%= g.img_tag(piece) %>.png" class = "<%= index % 2 == 0 ? "White" : "Black" %> "
id = "<%= selector(selected_piece, piece) %>" >
</a>
<% end %>
<br />

	<!-- Row H (Row 2 in game.rb) -->
<% session['b'].board[8][0].each_with_index do |piece, index| %>
<a href = <%= "/move?End_Row=8&End_Column=#{index}" %> >
<img src = "<%= g.img_tag(piece) %>.png" class = "<%= index % 2 == 0 ? "Black" : "White" %> "
id = "<%= selector(selected_piece, piece) %>" >
</a>
<% end %>
<br />

</div>

<div class = "bottom-board">
	1&nbsp;&nbsp;&nbsp;
	2&nbsp;&nbsp;&nbsp;
	3&nbsp;&nbsp;&nbsp;
	4&nbsp;&nbsp;&nbsp;
	5&nbsp;&nbsp;&nbsp;
	6&nbsp;&nbsp;&nbsp;
	7&nbsp;&nbsp;&nbsp;
	8&nbsp;&nbsp;&nbsp;
	<%= (selected_piece.is_a? Piece) == true ? selected_piece.type : "Nil" %>
</div>

<div class = "form">
	<form>
		<input type='text' name='End_Row' autofocus/>
		<input type='text' name='End_Column' autofocus/>
		<input type='submit' value='Value'/>
	</form>
</div>

</body>

</html>